{% extends 'base.html' %}
{% load static %}

{% block title %}
    Chat with seller
{% endblock title %}

{% block content %}
    <div class="inbox-box-container">
        <div class="inbox-display-header">
            <h2>
                Inbox
            </h2>
                <div class="inbox-icon">
                    <i class="fa-solid fa-search search-inbox search-inbox"></i>
                    <i class="fa-solid fa-ellipsis-vertical menu-inbox "></i>
                </div>                
            
        </div>
        <div class="user-list">
           
            <div class="user-msg-detail">
                <ul>
                    <img class='product-image' src="{{product.image.url}}" alt="">
                    <li><h3><span>{{product.owner_name}}</span></h3>{{product.name}}&nbsp;₹{{product.price}}</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="msg-container">
        <div class="msg-container-header">
            <img class ="product-image" src="{{product.image.url}}" alt="">
            <span><h3>{{product.owner_name}}</h3></span>
        </div>
        <div class="chat-box">
            <div class="productDetails">
                <span >{{product.name}}</span>
                <span >₹{{product.price}}</span>
            </div>
            <div class="msg-display">
                <div class="date">
                    <h4><span>{{day_name}}</span>,&nbsp;{{day}}&nbsp;{{month}}</h4>
                </div>
                <div class="received-msg">
                   <span> Hello &nbsp; {{time}}</span>
                </div>
                <div class="sent-msg">
                    <span>Hi &nbsp; {{time}}</span>
                </div>
            </div>
            <div class="type-box">
                <form id="message-form" >
                    <i class="fa-sharp fa-solid fa-paperclip paperclip" ></i>
                    <input type="text"  id="message" placeholder="Type your message .....">
                    <div class="sent-btn">
                        <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <script src="{% static 'js/message.js' %}"></script>
{% endblock content %}


