{% load static %}
   <div class="footerParentDiv">
    <div class="content">
      <div>
        <div class="heading">
          <p>POPULAR LOCATIONS</p>
        </div>
        <div class="list">
          <ul>
            <li>kolkata</li>
            <li>Mumbai</li>
            <li>Chennai</li>
            <li>Pune</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="heading">
          <p>ABOUT US</p>
        </div>
        <div class="list">
          <ul>
            <li>About OLX Group</li>
            <li>Careers</li>
            <li>Contact Us</li>
            <li>OLXPeople</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="heading">
          <p>OLX</p>
        </div>
        <div class="list">
          <ul>
            <li>Help</li>
            <li>Sitemap</li>
            <li>Legal & Privacy information</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Other Countries Pakistan - South Africa - Indonesia</p>
      <p>Free Classifieds in India. © 2006-2021 OLX</p>
    </div>
  </div>