{% extends 'base.html' %}
{% load static %}
{% block title %}
    Olx Clone
{% endblock title %}
{% block content %}
<div class="row-heading">
    <h3>Fresh Recommendations</h3>
</div>
<div class="card-container">
    <div class="card">
      <button class="fav-button" ><i class="fa-regular fa-heart fa-2x fav-icon" id="fav-icon"></i></button>
      <img class="card-image" src="{% static 'images/car.png' %}">
      <h2>Card 1</h2>
      <p>Some text here.</p>
    </div>
    <div class="card">
      <img src="card2.jpg">
      <h2>Card 2</h2>
      <p>Some text here.</p>
    </div>
    <div class="card">
      <img src="card3.jpg">
      <h2>Card 3</h2>
      <p>Some text here.</p>
    </div>
    <div class="card">
        <img src="card3.jpg">
        <h2>Card 3</h2>
        <p>Some text here.</p>
      </div>
      <div class="card">
        <img src="card3.jpg">
        <h2>Card 3</h2>
        <p>Some text here.</p>
      </div>
</div>

  
{% endblock content %}




