{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{category.name}}
    {% else %}
    Olx Clone
    {% endif %}
{% endblock title %}


{% block content %}
{% if category %}

<div class="card-container">
  {% for i in products %}
  <div class="card">
    <button class="fav-button" ><i class="fa-regular fa-heart fa-2x fav-icon" id="fav-icon"></i></button>
    <img class="card-image" src="{{i.image.url}}">
    <h2>{{i.name}}</h2>
    <p>₹{{i.price}}</p>
  </div>
  {% endfor %}
</div>


{% else %}
<div class="banner">
  <img class="banner-image" src="{% static 'images/banner.png' %}" alt="banner">
</div>
<div >
  <h3 class="row-heading">Fresh Recommendations</h3>
</div>

<div class="card-container">
  {% for i in products %}
  <div class="card">
    <button class="fav-button" ><i class="fa-regular fa-heart fa-2x fav-icon" id="fav-icon"></i></button>
    <img class="card-image" src="{{i.image.url}}">
    <h2>{{i.name}}</h2>
    <p>₹{{i.price}}</p>
  </div>
  {% endfor %}
</div>

{% endif %} 
{% endblock content %}




