{% extends 'base.html' %}
{% load static %}

{% block title %}{{products.name}}{% endblock title %}
{% block content %}
<article>
    <main>
        <div class="product-container">
            <img src="{{products.image.url}}" alt="{{products.name}}">
        </div>
        <div class="details">
            <h3>Details</h3>
            <p class="product-detail" >Brand <span class="product-name">{{products.name}}</span> </p>
            <h3>Description</h3>
            <p class="product-description">
                {{products.description}}
            </p>
        </div>
    </main>
    <aside>
        <div class="product-price">
            <h2>₹ {{products.price}} 
                
                <button><span><i class="fa-regular fa-heart fa-1x fav-icon" data-product="{{products.id}}"  id="fav-icon"></i></span></button>
            
            </h2>
            <p>{{products.name}}</p>
            <p>{{products.location}}</p>
        </div>
        <div class="chat">
            <h2>{{products.owner_name}}</h2>
            <a href="{% url 'Home:chat' %}"><button>Chat With Seller</button></a>
        </div>
        <div class="product-location">
            <h2>Posted in</h2>
            <p>{{products.location}}</p>
        </div>
    </aside>
</article>

{% if user.is_authenticated %}
<script >

    document.getElementById('fav-icon').addEventListener('click', function(e) {
      e.preventDefault()
      var product_id=$(this).attr('data-product')
      var icon=document.getElementById('fav-icon')
      //ajax
      $.ajax({
        url:"{% url 'Home:add_favorite' %}",
        data:{
          product:product_id
        },
        dataType:'json',
        success:function(res){
          if(res.state==true){
            alertify.set('notifier','position', 'top-right');
            alertify.success('Added to Favourites',1);

          }else{
            alertify.set('notifier','position', 'top-right');
            alertify.success('Removed from Favourites',1);
          }
        }
      })
      
    });
</script>
{% else %}
<script >
    document.getElementById('fav-icon').addEventListener('click', function() {
      var icon = document.getElementById('fav-icon');
      alertify.set('notifier','position', 'top-right');
      alertify.success('please login',1);
    });
</script>
{% endif %}

{% endblock content %}
