{% extends 'base.html' %}
{% load static %}

{% block title %}{{products.name}}{% endblock title %}
{% block content %}
<article>
    <main >
        <div class="product-container">
            <img src="{{products.image.url}}" alt="{{products.name}}">
        </div>
        <div class="details">
            <h3>Details</h3>
            <p class="product-detail" >Brand <span class="product-name">{{products.name}}</span> </p>
            <h3>Description</h3>
            <p class="product-description">
                {{products.description}}
            </p>
        </div>
    </main>
    <aside>
        <div class="product-price">
            <h2>₹ {{products.price}} 
                
            <form  class="" action="" method="get">
                <button ><span><i class="fa-regular fa-heart fa-1x fav-icon" id="fav-icon"></i></span></button>
            </form>
            
            </h2>
            <p>{{products.name}}</p>
            <p>{{products.location}}</p>
        </div>
        <div class="chat">
            <h2>{{products.owner_name}}</h2>
            <button>Chat With Seller</button>
        </div>
        <div class="product-location">
            <h2>Posted in</h2>
            <p>{{products.location}}</p>
        </div>
    </aside>
</article>
{% if user.is_authenticated %}
<script >
    document.getElementById('fav-icon').addEventListener('click', function() {
      var icon = document.getElementById('fav-icon');
      icon.classList.toggle('fa-regular');
      icon.classList.toggle('fa-2x');
      icon.classList.toggle('fa-sharp');
      icon.classList.toggle('fa-solid');
      icon.classList.toggle('fa-2x');
      if (icon.classList.contains('fa-solid')) {
        alert('Added to Favourites');
      } else {
        alert('Removed from Favourites');
      }
    });
</script>
{% else %}
<script>
    document.getElementById('fav-icon').addEventListener('click', function() {
        var icon = document.getElementById('fav-icon');
        alert('Please login')
      });
</script>
{% endif %}

{% endblock content %}

