{% extends 'base.html' %}
{% block title %}Add Your Product{% endblock title %}
{% block content %}
    <div class="sell-heading">
        <h3 >Add your Product</h3>
    </div>
    <div class="sell-container">
        <div class="add-product">
            <h3>Product Information</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Product Name *</label><br>
                <input id="productname" type="text" name="name" placeholder="Enter product name"><br>
                <label for="category">Select category *</label><br>
                <select name="category" >
                    <option value="0">---Select Category---</option>
                    {% for i in categories  %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select><br>
                <label for="model">Model *</label><br>
                <input type="text" name="model" placeholder="Enter product model (in year)"><br>
                <label for="price">Price *</label><br>
                <input type="text" name="price" placeholder="Enter product price"><br>
                <label for="location">Location *</label><br>
                <input type="text" name="location" placeholder="Enter your exact location"><br>
                <label for="owner_name">Owner Name *</label><br>
                <input type="text" name="owner_name" value="{{user.username}}"><br>
                <label for="phone_no">Phone Number *</label><br>
                <input type="text" name="phone_no" placeholder="Enter your mobile number" ,maxlength="10",minlenth="10"><br>
                <label for="description">Product Description *</label><br>
                <input type="text" class="description" name="description" placeholder="Enter product description"><br>
                <label for="image">Upload product image *</label><br>
                <input type="file" name="image" ><br>
                <button type="submit">POST</button>
            </form>
        </div>
    </div>
{% endblock content %}

