{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
{% block content %}
<div class="form-container">
    <div class="heading">
        <h4>User Signup</h4>
    </div>
    {% if messages %}
    {% for i in messages %}
    <div class="error">
        <p>{{i}}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div class="signup-form">
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username</label><br>
            <input type="text" name="username" placeholder="Enter your username" ><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="example@gmail.com"><br>
            <label for="password1">Password</label><br>
            <input type="password" name="password1" placeholder="Enter your password"><br>
            <label for="password2">Confirm Password</label><br>
            <input type="password" name="password2" placeholder="Retype your password"><br>
            <button type="submit">Signup</button>
            <a class="signup-link" href="{% url 'User:login' %}">Alredy have an account</a>
        </form>
    </div>
</div>
{% endblock content %}

